{
  "globals": {
    "jQuery": true,
    "$": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "func-names": "off"
  }
}