doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      section.slider-plugin
        .jc-slider-container
          .jc-slider-wrapper
            .jc-slider-slide
              img(src="assets/images/item-1.jpg", alt="#")
            .jc-slider-slide
              img(src="assets/images/item-2.jpg", alt="#")
            .jc-slider-slide
              img(src="assets/images/item-3.jpg", alt="#")
            .jc-slider-slide
              img(src="assets/images/item-4.jpg", alt="#")
            .jc-slider-slide
              img(src="assets/images/item-5.jpg", alt="#")
          .jc-slider-pagination
          button.jc-slider-next
            img(src="https://image.flaticon.com/icons/svg/126/126492.svg", alt="#", width="30")
          button.jc-slider-prev
            img(src="https://image.flaticon.com/icons/svg/126/126492.svg", alt="#", width="30")
    include ../partials/foot